__pycache__/
*.pdb
*.ppd
*.dll

.update-timestamp 

wine_venv/drive_c/windows/Installer/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/csc.exe
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/csc.exe.config
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/csc.rsp
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/mdb2ppdb.exe
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/mono-api-html.exe
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/vbnc.exe
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/4.5/vbnc.rsp
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild-frameworks/.NETFramework/v4.6.2/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild-frameworks/.NETPortable/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/14.0/Imports/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/14.0/Microsoft.Common.props
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/14.0/Microsoft.Common.targets/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/Microsoft/NuGet/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/Microsoft/Portable/v5.0/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/Microsoft/VisualStudio/v12.0/
wine_venv/drive_c/windows/mono/mono-2.0/lib/mono/xbuild/Microsoft/VisualStudio/v14.0/